body {
  font-family: 'Montserrat', sans-serif;
}

.aside-bar {
  background: #1e2939;
  width: 370px;
  height: 1319px;
}

.contacts-container {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 40px;
}

.aside-font-d {
  color: #ffffff;
  font-family: 'Montserrat - Bold';
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.aside-font-contacts {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech-skills-container {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 40px;
}

.aside-skills-item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.soft-skills-container {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 40px;
}
